
body{
    background-color: aqua;
    font: normal 15pt Arial;
   /* overflow: hidden;*/
}

header{
    color: white;
    text-align: center;
}

section{
    background: #ffffff;
    border-radius: 10px;
    padding: 15px;
    width: auto;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
}

div{
    text-align: center;
    padding:  8px;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}